<%= render 'components/navbar-home'%>

<div class="home-banner" style="background-image: url('https://images.unsplash.com/photo-1473949103155-d89f3aa93cf1?ixlib=rb-1.2.1&w=1050')">
  <div class="banner-text">
    <h1>Mr Happy Hour</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<h2 class="cocktail-header mb-4 mt-4" style="color: #39311d">All Cocktails</h2>

<p> <%= @no_cocktails_found %></p>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, crop: :fill unless cocktail.photo.blank? %>')">
            <div class="cocktail-card-text">
              <%= link_to cocktail_path(cocktail) do %>
                <p> <%= cocktail.name %></p>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--TODO: add a if/else for photo blank-->

<%# if cocktail.photo.blank? %>
<!--  <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= image_tag("logo-cocktail.png", alt: "Mr Cocktail") %>')">-->
<%# else %>
<!--  <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path cocktail.photo.key, crop: :fill %>')">-->
<%# end %>

