<div class="container-footer text-center mt-5">
    <%= link_to root_path do %>
        <%= image_tag "logo-cocktail.png", alt: "Mr Cocktail", width: 50, height: 50 %>
    <% end %>

  <hr>

  <div class="row">
    <div class="col-12">
      <div class="icons justify-content-between">
        <%= link_to "https://www.facebook.com" do %>
          <i class="fab fa-facebook-square"> </i>
        <% end %>
        <%= link_to "https://www.twitter.com" do %>
          <i class="fab fa-twitter-square"></i>
        <% end %>
        <%= link_to "https://www.instagram.com" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </div>
    </div>

    <div class="container-footer d-flex justify-content-center mt-2">
      <p><i>Mr Cocktail, 2020. We provide you a Mr Happy Hour!</i></p>
    </div>
  </div>
</div>
